{% extends 'base.html' %}

{% block header %}
  <h1>About</h1>
{% endblock %}

{% block content %}
<p> Introducing an innovative app designed to simplify your dining decisions - now you can put an end to endless deliberation and effortlessly discover the perfect place to eat. This powerful app seamlessly integrates with Yelp, the highly revered platform, to provide you with an extensive database of restaurant options.</p>
<p> With this app, you have the ability to customize your dining preferences, ensuring that the recommendations are tailored specifically to your tastes. Whether you have dietary restrictions, specific culinary preferences, or are in the mood for a specific ambiance, this app will curate a list of restaurants that match your criteria.</p>
<p> One standout feature of this app is its group functionality. Planning a meal with friends? Simply create a group within the app and invite your friends to join. Each member can contribute their preferences and the app will generate a list of restaurants that cater to everyone's needs, making decision-making a breeze. From there, you can easily share restaurant details, reviews, and even make reservations within the app.</p>
<p> In addition to helping you decide where to eat, this app also acts as your personal dining journal. You can save your favorite eateries, rate them, and keep track of the places you've been. Your feedback can be shared with fellow users, helping them in their decision-making process. Through this app, you can also explore a curated selection of trending and nearby restaurants, making it easy to expand your culinary horizons.</p>
<p> With its seamless integration of Yelp's comprehensive restaurant data, personalized recommendations, and group functionality, this app is your ultimate dining companion. Say goodbye to indecision and let this app guide you to the perfect dining spot every time.</p>
{% endblock %}