{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Food Deciding App{% endblock %}</h1>
{% endblock %}

{% block content %}
{{ user.name }}
<span>{{ user.id }}</span>

<div>
  <a href="{{ url_for('create_party_page') }}"><h2>Create Party</h2></a>
</div>

{%for party in parties %}
  <li>
    <div>
      <h3 class="party-name">
        <a href="{{ url_for('businesses_page', party_id=party['id']) }}">{{ party['name'] }}</a>
      </h3>
      <h6>Location {{ party['location'] }}</h6>
      <p>Radius {{ party['radius'] }}</p>
    </div>
  </li>
{%endfor%}

{% endblock %}